<!--url and then views and then html-->
{% extends "FeedApp/base.html" %}

{% load bootstrap4 %}



<!--those are for formatting for the webpage -->
{% block content %}
<h2><p>New Post:</p></h2>
<!-- you must remember to include the enctrype property in the form tag for uploaded dile to be attached to the request properly-->
<form action="{% url 'FeedApp:new_post' %}" method='post' enctype='multipart/form-data'> 
    <!--allow the post to attach the image-->
    {% csrf_token %}
    {% bootstrap_form form %}
    <br><br>
    <button name="submit" class="btn btn-outline-primary">Post</button>

</form>




{% endblock content %}